body {
    padding-top: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, "Noto Sans",sans-serif;
}

.bold{
    font-weight: bold;
}

.card{
    margin-top: 10px;
    border-radius: 1%;
    box-shadow: 1px 1px rgb(236, 236, 236);
}

.top{
    background-color: #638BD3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 1% 1% 0 0;
}

.top img{
    width: 18%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1%;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}

.follow_line{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 20px;
    margin-bottom: 20px;
}

.follow_line div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow{
    border: none;
    background-color: #7ed321;
    color: #fff;
    width: 10%;
    padding: 5px 0px;
    border-radius: 10%;
    font-weight: bold;
}