{% extends "base.html" %}

{% block main %}
<section class="card">
    <section class="top"> 
        <img src="{{ url_for('static', filename='images/jnh.jpeg') }}" alt="Cartoon Image of Me" />
        <h3 class="bold">{{ name }}</h3>
        <p>{{ tag }}</p>
        <p>{{ location }}</p>
        <p>Joined {{ date }}</p>
    </section>
    <section class="bottom">
        <p>{{ bio }}</p>
        <section class="follow_line">
            {% for key,value in lst.items() %}
                <div>
                    <span class="bold">{{ value }}</span>
                    <span>{{ key }}</span>
                </div>
            {% endfor %}
        </section>
        <button class = "follow">Follow</button>
    </section>
</section>
{% endblock %}